<div>
    <div class="before-animation pushToGpu sc-transition " id="blackout"></div>

    <div class="mobileMenu before-animation pushToGpu sc-transition" id="menu">
        <ul>
            <li class="clickable-background-black" ng-repeat="m in menus" ng-show="m.callback !== undefined && m.callback !== null" ng-click="m.callback()">
                <a>{{m.text}}</a>
            </li>
            <li class="clickable-background-black" ng-repeat="m in menus" ng-show="m.link !== undefined && m.link !== null" ng-href="{{m.link}}">
                <a></a>
            </li>
        </ul>
        <ul>
            <li class="clickable-background-black" id="close" ><a>Annuler</a></li>
        </ul>
    </div>
</div>


