.sc-transition {
    -webkit-transition: opacity .2s, -webkit-transform .3s;
    -moz-transition: opacity .2s, -webkit-transform .3s;
    -ms-transition: opacity .2s, -webkit-transform .3s;
    -o-transition: opacity .2s, -webkit-transform .3s;
    transition: opacity .2s, -webkit-transform .3s;
}

.mobileMenu {
    width: 100%;
    position: fixed;
    bottom: -100px;
    z-index: 201;
    opacity: 0;
}

.mobileMenu ul {
    background: rgba(58, 58, 58, 0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}

.mobileMenu ul li {
    list-style: none;
    text-align: center;
    color: #565656;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 23px 0 0 0;
    height: 40px;
    border-bottom: solid 1px #000000;
    box-shadow: 0 1px 0 rgb(90, 90, 90);
    width: 100%;
}

.mobileMenu ul li:last-child {
    border-bottom: none;
    box-shadow: none;
}

.mobileMenu ul li a {
    display: block;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.blackout {
    background-color: rgba(0, 0, 0, .85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    z-index: 200;
}

.pushToGpu {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
}

.before-animation {
    height: 0 !important;
}